.Form-parent{
    width: 100%;
    height: 100%;
    display: flexbox;
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
}

.Form{
    width: 30em;
    padding: 20px;
    /* display: flex;
    justify-content: center; */
    border: 3px solid rgba(29, 28, 28, 0.342);
}

.Form .form-container{
    width: 90%;
    height: 100%;
    display: block;
}
.form-container h1{
    text-align: center;
}   
.form-container .inputBox{
    width: 100%;
    margin: 10px;
}
.inputBox input{
    width: inherit;
    height: 30px;
}

.inputBox label{
    clear: both;
    margin-bottom: 10px;
}


.inputBox .btn{
    width: 100%;
    background: #0066ff;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-weight: 500;
    color: cornflowerblue;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
}

.inputBox .btn-fullWidth{
    background: rgba(236, 226, 226, 0.74);
    text-decoration: none;
}
